*,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #000
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    display: block;
    background: #000;
    pointer-events: none;
    touch-action: none
}